.search-form {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
  }
  
  .search-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width:600px;
    

  }
  
  .search-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 2rem;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    padding: 9px;;
  }