body {
  
}
.container {
  padding: 20px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background: #ccc;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
  background: ghostwhite;
}

